Big Attempt
ADNI 1
3D_Pretrained_Networks
Feature Embeddings
something_new
testing_directory_dontdelete
Testing big download
.ipynb_checkpoints
ADNI 1.zip
ipynb files/Big_Data_Run_2.ipynb
ipynb files/Big_Data_Run.ipynb
ipynb files/deleting_stuff.ipynb
ipynb files/Doing the network.ipynb
ipynb files/Saliency_mapping.ipynb
2D_Images_duplicated_dallan.csv
2D_Images_duplicated.csv
AD_duplicates_training.py
ADNI_1_updated_diagnoses.csv
Screenshot 2024-10-12 at 12.02.28 PM.png
To_do.md
3D_Images_dallan.csv
Data_stuff
ipynb files/matrix_script_functions.ipynb
2D_Images_updated.csv
2D_Images.csv
ipynb files/ADNI Meeting Notes.ipynb
